.collage-area {
    /* background-color: blueviolet; */
    height: 700px;
    font-family: 'Montserrat';
    padding: 79px 128px 0 128px;
    margin-top: 71px;
    display: flex;
    flex-direction: column;

    .group-images {
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
        /* margin: 79px 128px 0 128px; */
    }

    .collage-text {
        color: #333333;
        font-size: 36px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        margin-bottom: 31px;

        .outlined {
            color: transparent;
            font-family: 'Montserrat', sans-serif;
            -webkit-text-stroke: 1px #333333;
        }

        .collage-border {
            width: 813px;
            height: 1px;
            margin-top: 20px;
            border: 1px solid #EAEAEA;
        }
    }

    .collage-description {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Montserrat';
        line-height: 24px;
    }

    .description-area1,.description-area2,.description-area3 {
        width: 371px;
    }

    .description-area3 {
        display: flex;
        flex-direction: column;
    }

    .area3-text {
        margin-bottom: 11px;
    }

    .area3-btn {
        width: 371px;
        height: 52px;
        border: none;
        display: flex;
        justify-content: center;
        /* border: 2px solid #5BC8AF; */

        .btn {
            color: #5BC8AF;
            width: 371px;
            height: 52px;
            font-size: 18px;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            border: 2px solid #5BC8AF;
            border-radius: 4px;
            justify-content: center;
            /* line-height: 28px; */

            .arrow {
                padding: 7px 0 0 4px;
            }
        }
    }
}